
 .tooltiptext {
    display: flex;
    justify-content: center;
    visibility: hidden;
    position:fixed;
    top: 5%;
    right: 5%;
    width: 200px;
    background-color: red;
    color:black;
    border-radius: 5px;

  }
  
  /* .tooltip{
    visibility:visible;
  }
  .tooltip__hidden {
    visibility: hidden;
  } */
  .two {
    width: 20px;
    height: 20px;
  }
  .close{
    margin-left: 10px;
  }
  .close:hover{
    cursor: pointer;
  }
  .two{
    margin-right: 10px;
  }
  .two:hover{
    cursor: pointer;
  }